.conternedortarj{

    display: inline-flex;
}

.tarjeta{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 800px;
}

.buscador{
    margin-top: 1%;
    margin-left: 22%;
    margin-right: 22%;
}

.texto{
    margin:0;
}

.recomendados{
    margin-top:2%;
}

@media only screen and (max-width: 768px) {
    .conternedortarj{

        display: block;
    }
    .buscador{
        margin-left: 5%;
        margin-right: 5%;
    }

    .tarjeta2{
        display:none;
    }

}